<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
	<div class="col-lg-2" id="toField">
		<div class="form-group">
			<%= f.label :"To:" %>
			<%= f.select(:recipients, User.all.where(:neighborhood_id => current_user.neighborhood_id).collect {|p| [ p.fname, p.id ] }, {}, { multiple: true , class: "form-control" })%>  
		</div>
	</div>
	<div class="col-lg-10">
		<div class="row">
			<div class="col-lg-12">
				<div class="form-group">
					<!-- %= f.label :subject % -->
					<%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="form-group">
					<!-- %= f.label :message % -->
					<%= f.text_area :body, class: 'form-control',placeholder: "Message", rows: 4  %>
				</div>
				<!--%= f.submit "Send Message", class: "btn btn-success" %-->
				
				<%= button_tag(type: 'submit', class: "glyphButton") do %>
					<span class="glyphicon glyphicon-send" title="Send"></span>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
