<!-- STYLED -->



<a name='post-<%= post.id %>'></a>
<div id='post_<%= post.id %>' class='reply_to_post post <%= cycle('odd', 'even') -%> col-md-12' >
    <div class="container replyPage">
        <div class="row">
            <div class='col-md-12'>
                <div class="row">
                    <div class="col-md-12 header">
                        <span class="poster">
                            <%= link_to_if Forem.user_profile_links, post.user.forem_name, [main_app, post.user] %>
                        </span>
                        <span class="timeStamp">
                            <time datetime="<%= post.created_at.to_s(:db) -%>"><%= "#{time_ago_in_words(post.created_at)} #{t("ago")}" %></time>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 replyBody">
                        <%= forem_format(post.text) %>
                        <% if post.reply_to %>
                            <span class='in_reply_to'>
                                <%= link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user.forem_name}", "#post-#{post.reply_to.id}" %>
                            </span>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
