<div id='forum'>
  <!--h2>< %= link_to t('forem.forum.forums'), forem.root_path %> &raquo; < %= link_to forem_emojify(forum.category), [forem, forum.category] %> &raquo; < %= link_to forem_emojify(forum.title), [forem, forum] %></h2-->
    
    <h1><%= forum.title %></h1>
    <div class="row">
        <div class="col-xs-12">
            <%= forem_format(forum.description) %>
        </div>
    </div>
  <div id='forum_topic_links' class='btn-group btn-group-default btn-group-xs'>
    <% unless @topic.try(:new_record?) %>
      <% if can? :create_topic, @forum %>
        <%= link_to t('forem.topic.links.new'), forem.new_forum_topic_path(forum), :class => "btn btn-default", :id => "new-topic" %>
      <% end %>
    <% end %>
    <% if @topic %>
      <%= link_to t('forem.topic.links.back_to_topics'), forem.forum_path(forum), :class => "btn" %>
    <% end %>
    <% if can? :moderate, @forum %>
      <%= link_to t('forem.forum.moderator_tools'), forem.forum_moderator_tools_path(forum), :class => "btn btn-default" %>
    <% end %>
  </div>
</div>
