<!-- STYLED -->
<h1>Manage Groups</h1>
<%= link_to t('admin.group.new'), new_group_path, :class => "btn btn-default btn-sm" %>

<table id='groups' class='index table table-striped' cellspacing='0'>
  <thead>
    <tr>
      <th><%= t('edit', :scope => 'groups') %></th>
      <th><%= t('name', :scope => 'groups') %></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td>
          <%= link_to t('edit', :scope => 'groups'), group_path(group), :class => "btn btn-default btn-sm"%>
        </td>
        <td>
          <%= group.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
