<%if params["id"] == "business"%>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
<div class="row">
  <% if notice %>
    <%= notice %>
  <% end %>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label "Select zip code of business location:"%><br/>
    <%= f.select :neighborhood_id,
      Neighborhood.all.map { |u| [u.zip]  },
                   { include_blank: true },
                   { class: 'chosen-select' }
    %>
  </div>

</div>
<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label "Business Name:" %><br/>
    <%= f.text_field :nickname, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label :address %><br/>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label :city %><br/>
    <%= f.text_field :city, class: 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label :email %><br/>
    <%= f.email_field :email, class: 'form-control'%>
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>
      characters minimum)</em>
    <% end %><br/>
    <%= f.password_field :password,class: 'form-control', autocomplete: "off" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
    <%= f.hidden_field :business, as: :hidden, value: true %>

  </div>
</div>
<div class="actions">
  <%= f.submit "Sign up Business", class: 'btn btn-success' %>
</div>
</form>

<% end %>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>

<%else%>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
<div class="row">
  <% if notice %>
    <%= notice %>
  <% end %>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label "Select community by zip code:"%><br/>
    <%= f.select :neighborhood_id,
      Neighborhood.all.map { |u| [u.zip]  },
                   { include_blank: true },
                   { class: 'chosen-select' }
    %>
    <button type="button" class="btn btn-success commspace" data-toggle="modal" data-target="#myModal">No community? Start One</button>
  </div>

</div>
<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label :first_name %><br/>
    <%= f.text_field :fname, class: 'form-control', autofocus: true  %>
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label :Middle_Name %><br/>
    <%= f.text_field :mname, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label :Last_name %><br/>
    <%= f.text_field :lname, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label :nickname %><br/>
    <%= f.text_field :nickname, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label :address %><br/>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label :city %><br/>
    <%= f.text_field :city, class: 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label :email %><br/>
    <%= f.email_field :email, class: 'form-control'%>
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>
      characters minimum)</em>
    <% end %><br/>
    <%= f.password_field :password,class: 'form-control', autocomplete: "off" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
  </div>
</div>
<div class="actions">
  <%= f.submit "Sign up", class: 'btn btn-success' %>
</div>
</form>


<% end %>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create a Neighborhood</h4>
        </div>
        <div class="modal-body">
          <%= render :partial => '/neighborhoods/newcommunity', :neighborhood => @neighborhood = Neighborhood.new %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

<%end%>
